# IDE
.vscode/
*.iml
.idea/

# OS
.DS_Store
Thumbs.db

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart

# Environment & secrets
.env
*.env
.env.*
run.sh

# Firebase secrets — excluded from version control
firebase_options.dart

# Dependencies
pubspec.lock